.main {
  padding: 10% 5% 0 5%;
  border: 3px solid red;
  display: flex;
  justify-content: center;
}
.main-can {
  background-color: aliceblue;
  width: 22%;
  padding: 1% 3% 3% 3%;
  border: 3px solid orange;
}
.item-can {
  display: flex;
  margin: 15% 0;
}
.item-text {
  /* padding: 5%; */
  border: 3px solid red;
}
.main-can2 {
  /* border-radius: 2em; */
  background-color: aliceblue;
  height: 25.1vh;
  width: 45%;
  padding: 3%;
  border-left: 6px solid orange;
}
#submit {
  height: 5em;
  width: 8em;
  cursor: pointer;
  position: relative;
  bottom: 5em;
  left: 40em;
   background-color: #0245ac;
  border: none;
  color: white;
  
  
}
