<div id="main-container" *ngIf="cart.length !== 0; else elseBlock">
  <div class="main">
    <div class="main-can">
      <div class="item-can" *ngFor="let product of cart">
        <div><img src="{{ product.url }}" width="150" alt="" /></div>
        <div class="item-text">
          <h2>{{ product.name }}</h2>
          <h3>{{ product.price | currency : "EUR" }}</h3>
          <h3>Quantity:</h3>
          <input
            class="qty"
            type="number"
            name="amount"
            [(ngModel)]="product.amount"
            aria-label="amount"
          />
          <div>
            <button class="removeBtn" (click)="removeItem(product)">
              Remove
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="main-can2">
      <form #form="ngForm" (ngSubmit)="submitForm()">
        <div>
          <h3>Full Name</h3>
          <input
            required
            minlength="5"
            type="text"
            name="fullName"
            placeholder="(minimum  of 5 characters)"
            [(ngModel)]="fullName"
          />
          <h3>Address</h3>
          <input
            required
            minlength="10"
            type="text"
            name="address"
            placeholder="(minimum  of 10 characters)"
            [(ngModel)]="address"
          />
          <h3>Credit Card Number</h3>
          <input
            type="number"
            required
            name="creditCard"
            placeholder="(Insert Credit Card Number)"
            [(ngModel)]="creditCard"
          />
          <br />
          <h2 class="total">Total: {{ calculation() | currency }}</h2>
        </div>
        <div class="buttons">
          <button id="home" routerLink="/">Back to Home</button>
          <button class="submit" [disabled]="form.invalid" type="submit">
            Check Out
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <div id="empty-can">
    <div class="empty">
      <h1>Your Cart is Empty.</h1>
      <h1>Please Add Items!</h1>
      <button id="home" routerLink="/">Back to Home</button>
    </div>
  </div>
</ng-template>
