.main {
  padding: 10% 5% 5% 5%;
  border: 3px solid red;
  display: flex;
  justify-content: center;
}
.main-can {
  background-color: aliceblue;
  border-radius: 2em;
  padding: 3.5em 1em;
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid orange;
}
.item-can {
  display: flex;
  padding: 1em 0;
  border-bottom: 2px solid orange;
}
.item-text {
  color: #0245ac;
}
.main-can2 {
  background-color: aliceblue;
  border-radius: 2em;
  height: 25.1vh;
  width: 40%;
  padding: 5%;
  border: 5px solid orange;
  margin-left: 3em;
}
.submit {
  padding: 1.5em 3em;
  cursor: pointer;
  background-color: #0245ac;
  border: none;
  color: white;
  border-radius: 0.5em;
}
.buttons {
  position: relative;
  left: 20em;
  bottom: 2em;
}
.removeBtn {
  margin-top: 1em;
  background-color: #0245ac;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0 0.5em;
  cursor: pointer;
}
#empty-can {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-text {
  display: flex;
  flex-direction: column;
  padding-right: 3em;

  align-items: center;
}
h1 {
  font-size: 3.2em;
}
h3 {
  margin: 0;
  padding: 1em 0 0.5em 0;
}
h2 {
  display: inline;
}
.empty {
  background-color: #c9d9f4;
  border-radius: 3em;
  border: 5px solid orange;
  color: #0245ac;
  padding: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 40%;
  display: block;
}

.total {
  display: block;
  margin: 0;
}
#home {
  padding: 0.5em 2em;
  cursor: pointer;
  background-color: #0245ac;
  border-radius: 0.5em;
  border: none;
  color: white;
  display: inline;
  margin-right: 2em;
}
#home:hover {
  color: orange;
}
.submit:hover {
  color: orange;
}
button:hover {
  color: orange;
}
